.weather{
  max-width: 75%; 
  display: block; 
  margin: 0 auto"
}
html, body {
  background-color: azure;
  
}

h1 {
  text-align: 0 auto;
  color: black;
  margin-left: 4px;
}
#searchButton {
  line-height: 1;
}
#inputCity {
  border-radius: 0.25rem;
  max-width: 100%;
}
li {
  list-style: none;
  text-transform: capitalize;
}
ul {
  padding: 4px;
}
.weatherForecast {
  color: black;
}
.forecastColumn {
  text-align: center;
}
