.weather{
  max-width: 75%; 
  display: block; 
  margin: 0 auto"
}
html, body {
  background-color: azure;
  
}

h1 {
  text-align: 0 auto;
  color: black;
  margin-left: 4px;
}
#units{
  font-weight: 600;
  font-size:large;
  color:gray;
  vertical-align: super;

}
#celsLink{
  color:rgb(73, 61, 152);
}
#fahrLink{
  color:rgb(73, 61, 152);
}

#fahrLink.active{
color:black;
cursor:default;
}

#fahrLink.active:hover{
  text-decoration:none;
}

#celsLink.active{
color:black;
cursor:default;
}

#celsLink.active:hover{
  text-decoration:none;
}


#searchButton {
  line-height: 1;
}
#inputCity {
  border-radius: 0.25rem;
  max-width: 100%;
}
li {
  list-style: none;

}
li::first-letter {
  text-transform: capitalize;

}
ul {
  padding: 4px;
}
.weatherForecast {
  color: black;
}
.forecastColumn {
  text-align: center;
}
#github{
  color:rgb(73, 61, 152);
}
