h1 {
  text-align: 0 auto;
  color: black;
}
#searchButton {
  line-height: 1;
}
#inputCity {
  border-radius: 0.25rem;
  max-width: 100%;
}
li {
  list-style: none;
}
ul {
  padding: 4px;
}
.weatherForecast {
  color: black;
}
.forecastColumn {
  text-align: center;
}
